@import "imports";

.quest_page_certificate{
	background: #000 url(../images/png/cert.png) no-repeat center/cover;
	min-height: 50rem !important;
	display: none;

	&#impossible:target{
		display: block;
	}

	&#casino:target{
		display: block;
	}


	.nav{
		&_tabs{
			&_quest-set{

			}
		}
		&__tab{
			display: inline-block;
			width: 11.3rem;

			position: relative;
			&:after{
				content: "";
				@include scut-size(100% 1px);
				@include scut-absolute(n 0 0 0);
				background-color: #fff;
			}
			&_state{
				&_active{
					font-weight: bold;
					&:after{
						height: 3px;
					}
				}
			}



		}
			&__link{
				font-size: 1.4rem;
				color: #ffffff;
				text-decoration: none;
				display: block;
				padding-bottom: 15px;
			}
	}

	.quest-title{

	}
	.quest-descr{
		margin-bottom: 60px;
	}

	.price{
		display: inline-block;
		margin-right: 5rem;
		vertical-align: top;

		&__cost{
			font-size: 20px;
			width: 10rem;
			border-top: 1px solid #fff;
			padding-top: 20px;
		}
		&__descr{
			font-size: 12px;
			vertical-align: top;
			padding-top: 5px;
		}
	}

	.tel{
		text-align: right;
		&__title{
			font-size: 12px;
			margin-bottom: 1rem;
		}
		&__descr{

		}
			&__tel{
				font-size: 20px;
				text-decoration: none;
				color: #ffffff;
			}
	}

	.block{
		&_side{
			&_top-left{

			}
			&_bottom-left{
				bottom: 3.3rem;
			}
			&_bottom-right{

			}
			&_top-right{

			}
		}
	}
}
