@import "imports";

main{
}

.contacts{
	//@include scut-size(100% au);

	@include scut-size(100% $full-screen-height);
	background-color: #ebebeb;
	@at-root {
		.contacts-list{
			//margin: auto;
			text-align: center;
			padding: 3.5rem 0 2rem 0;
			&__item{
				display: inline-block;
				margin-right: 5rem;
				font-size: 1.4rem;
				color: #7f7f7f;
				a{
					font-size: 1.4rem;
					color: #7f7f7f;
					text-decoration: none;
				}
				&:last-child{
					margin-right: 0;
				}

				.social-list{
					position: static;
					&__item{
						.social-list__link{
							font-size: 0;
						}
						.icon{
							@include scut-size(100%);
							svg{
								@include scut-size(100%);
								fill:#7f7f7f;
							}
						}
						&:hover{
							svg{
								fill:#000;
							}
						}
					}
					/*&__item{
						display: inline-block;
						position: relative;
						height: 1.5rem;
						margin-right: 2.5rem;
						&:last-child{
							margin-right: 0;
						}
						.icon{
							@include scut-size(100%);
							svg{
								@include scut-size(100%);
								fill:#fff;
							}
						}
						&:hover{
							svg{
								fill:#9c9c9c;
							}
						}

						&.vk{
							width: 12px;
							.icon{
								//background-image: url();
							}
						}
						&.tw{
							width: 16px;
							.icon{
								//background-image: url();
							}
						}
						&.fb{
							width: 8px;
							.icon{
								//background-image: url();
								height: 19px;
								top: -2px;
							}
						}
						&.inst{
							width: 14px;
							.icon{
								//background-image: url();
							}
						}
					}
					&__link{
						display: block;
						@include scut-size(100%);
						position: relative;
						z-index: 1;
					}*/
				}
			}
		}
	}
	@at-root {
		.views{
			@include scut-size(100% calc(100% - 9rem));
			&__trigger{
				display: none;
			}

			#map-trigger:checked{
				&~.views-list label[for="map-trigger"]{
					font-weight: bold;
					pointer-events: none;
				}
				&~.views__items .map{
					z-index: 1;
				}
			}
			#sphere-trigger:checked{
				&~.views-list label[for="sphere-trigger"]{
					font-weight: bold;
					pointer-events: none;
				}
				&~.views__items .sphere{
					z-index: 1;
				}
			}

			@at-root {
				.views-list{
					margin-left: 5.1rem;
					margin-bottom: 0.5rem;
					&__item{
						margin-right: 2rem;
						display: inline-block;
						&:last-child{
							margin-right: 0;
						}
					}
						&__label{
							font-size: 11px;
							color: #7f7f7f;
							&:hover{
								color: #000;
							}
						}
				}
			}
			&__items{
				position: relative;
				height: 100%;
				.map,.sphere{
					@include scut-size(100%);
					@include scut-absolute();
					z-index: 0;
				}
				.map{
					img{max-width: none;}
				}
				.sphere{
					img{max-width: none;}
				}
			}

		}
	}
}

.gm­style­iw * {
	display: block;
	width: 100%;
}
.gm­style­iw h4, .gm­style­iw p {
	margin: 0;
	padding: 0;
}
.gm­style­iw a {
	color: #4272db;
}
