@import "imports";

.top{
	@include scut-size(100%);
	text-align: center;

	position: relative;
	height: 0;
	padding-top: 34.6%;

	background-color: #000;

	&__content{
		@include scut-absolute(0 0 0 0);
		margin: auto;
		@include scut-size(80rem 18.6rem);
	}
		&__descr{
			font-size: 1.8rem;
			color:#fff;
			line-height: 33px;
		}
		&__apply{
			font-size: 1.8rem;
			color:#fff;

			border: 1px solid #fff;
			border-radius: 5px;

			margin-top: 6rem;

			@include scut-size(25rem 6rem);

			&:hover{
				border-color: #fff;
				color: #000;
				background-color: #fff;
			}
		}
}

.set{
	.quests{
		
	}
	.quest{
		&__img{

		}
	}
	&_title{
		&_casino{
			.quest{
				background: #000 url(/images/svg/img/casino.svg) no-repeat center/auto 50%;
			}
		}
		&_impossible{

		}
	}
}
