@import "imports";

@import "setup";

html{
	font-size: 10px;
	min-height: 100%;
}

.wf-active *,*{
	font-family: "helveticaneuecyr", Arial;
}
.wf-loading *{
	font-family: "Arial";
}
body{
	min-width: 102.4rem;
	height: 100%;
	position: relative;

	&.disable-pointer-events *{
		pointer-events: none !important;
	}
	&.scroll-hidden{
		overflow-y: hidden;
	}
}

iframe{
	border: 0;
}

.scale{
	&__bg{
		width: 100%;
		@include scut-absolute();
	}
}

.trigger{
	display: none;
	&_popup_newyear:checked{
		&~.popup-place{
			display: block;
			.popup_role_newyear{
				display: block;
			}
		}
	}
}

main{
	display: block;
	width: 100%;
}

@import "placeholders/authorization";
@import "placeholders/header";
@import "placeholders/top-block";
@import "placeholders/vm-video";
@import "placeholders/footer";
@import "common-blocks/quest";
@import "common-blocks/form";
@import "common-blocks/pop-up";
@import "common-blocks/quest-panel";


/*.popup-place{
	@include scut-fixed();
	@include scut-size(100%);
	background-color: rgba(0,0,0,0.5);
	z-index: 5;
	display: none;

	.label_shape_bg{
		@include scut-absolute();
		@include scut-size(100%);
		z-index: 1;
	}

	.popup{
		display: none;

		position: relative;
		z-index: 2;
		@include scut-size(120rem);
		padding: 3.7rem 12.75rem 6.7rem 12.75rem;
		margin-top: calc((100vh - 120rem)/2);
		border-radius: 5rem;
		@media all and (max-height: 1200px){
			@include scut-size(80rem);
			border-radius: 4rem;
			padding: 2.5rem 8.5rem 4.5rem 8.5rem;
			margin-top: calc((100vh - 80rem)/2);
		}

		@media all and (max-height: 800px){
			@include scut-size(60rem);
			border-radius: 3rem;
			padding: 2rem 6.5rem 3.5rem 6.5rem;
			margin-top: calc((100vh - 60rem)/2);
		}
		@media all and (max-height: 600px){
			@include scut-size(40rem);
			border-radius: 2rem;
			padding: 1.25rem 4.25rem 2.25rem 4.25rem;
			margin-top: calc((100vh - 40rem)/2);
		}
		@media all and (max-height: 400px){
		}

		background-color: #fff;
		margin: auto;
		&__content{
			text-align: center;
			.img-wrapper{
				.img{

				}
			}
			.text{
				text-align: left;

				color: #000;
				line-height: 1;

				font-size: 4.5rem;

				@media all and (max-height: 1200px){
					font-size: 3rem;
				}
				@media all and (max-height: 800px){
					font-size: 2rem;
				}
				@media all and (max-height: 600px){
					font-size: 1.6rem;
				}
				@media all and (max-height: 400px){
				}
			}
		}
	}
}*/












