@import "imports";

.text-wrapper{
	width: 100%;
	min-height: $full-screen-height;
	background-color: #ebebeb;
	padding: 11rem 0;
}
.text{
	color: #7f7f7f;
	width: 70rem;
	margin: auto;
	&__p{
		font-size: 16px;
		margin-bottom: 3rem;
	}
	ul{
		list-style: none;
		li{
			font-size: 16px;
			margin-bottom: 3rem;
			&:before{
				content: "- ";
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
