@import "imports";

div.vm-video_page_timetable{
	margin-bottom: 2.5rem;
}

.quest{
	&_page{
		&_timetable{
			margin-bottom: 2.5rem;

			.slider_page_timetable{
				@include scut-absolute(0 n n 0);
				@include scut-size(100%);
				.slider{
					&__slide{
						display: inline-block;
						&__img{

						}
					}
				}

			}
		}
	}

	.quest-next{
		font-size: 1.4rem;
		font-weight: 100;
		color: #fff;
		width: 10vw;
		margin-bottom: 2rem;
	}
}
.timetable{
	&__top-block{
		top: 0;
		z-index: 1;
		width: 100%;
	}
	&__header{
		background-color: #ebebeb;
		@include scut-size(100% 10.5rem);
		padding: 3.5rem 0 0 5.1rem;
	}
		&__title{
			font-size: 1.4rem;
			color:#000;
		}
		&__period{
			font-size: 2.6rem;
			color:#000;
			margin-top: 1rem;
		}
	@at-root {
		.date-list{
			@include scut-size(100% 7rem);
			background-color: #ebebeb;
			display: flex;
			align-items: center;
			&__item{
				//width: 26px;
				width: calc((100% - 1px)/14);
				display: inline-block;
				text-align: center;
				&.active{
					pointer-events: none !important;
					&:after{

					}
				}

				.date{
					text-decoration: none;
					display: block;
					&_day{
						&_on{
							color:#000;
						}
						&_off{
							color:#cb210f;
						}
					}
					&__num{
						font-size: 1.4rem;
					}
					&__weekday{
						font-size: 1.4rem;
					}
					&:hover{
						.date{
							&_day{
								&_on{

								}
								&_off{

								}
							}
							&__num{
								color: #9c9c9c;
							}
							&__weekday{
								color: #9c9c9c;
							}
						}
					}
				}


			}


		}
		@for $i from 1 through 14 {
			#timetable_trigger_#{$i}:checked{
				&~.timetable__top-block .date-list{
					[for="timetable_trigger_#{$i}"]{
						pointer-events: none !important;
						font-weight: bold;
						position: relative;
						z-index: 1;
						&:after{
							content: "";
							@include scut-size(4.2rem);
							@include scut-absolute(-0.5rem 0 n 0);
							margin: auto;
							border-radius: 3px;
							border: 1px solid #000;
						}
					}
				}
				&~.sets {
					.table:nth-child(#{$i}){
						display: table;
						td{
							a.table__time{
								font-size: 1.3rem;
							}
							div.table__cost{
								font-size: 1.1rem;
								border-bottom-width: 1px;
							}
						}
					}
				}
			}

		}
		.timetable{
			width: 100%;
			margin-bottom: 2.4rem;

			&__trigger{
				display: none;
			}

			@at-root {
				.set{
					&__header{
						@include scut-size(100% 9.2rem);
						background-color: #ebebeb;
						padding: 1.5rem;

						border-top: 1px solid #fff;
					}
						&__title{
							font-size: 1.6rem;
							color: #fff;
						}
					&__tables{
						@at-root {
							.table{
								width: 100%;
								border-top: 1px solid #ebebeb;
								display: none;
								//margin-top: -1px;



								&__row{
									//height: 5rem;
								}
								&__header-cell{
									@include scut-size(17.4rem 9.2rem);
									padding-top: 1px;
									text-align: left;
									vertical-align: top;
									.link{
										display: block;
										text-decoration: none;
										position: relative;
										*{
											text-decoration: none;
										}

										.lock{
											color: #7f7f7f;
											@include scut-absolute(3.7rem n n 0);
											padding-left: 3rem;
											text-align: left;
											font-size: 0.9rem;
											font-weight: 100;
											&:after{
												right: auto;
												left: 1.5rem;
												top: 2px;
												@include scut-size(12px 16px);
												background: svg("/images/svg/icons/locked.svg") no-repeat;
											}
										}
									}
									&:hover{
										*{
											color: #000 !important;
										}
									}
									.date{
										background-color: #ebebeb;
										@include scut-size(14.8rem 9.2rem);
										padding: 16px;
										color: #7f7f7f;
										&_day{
											&_on{

											}
											&_off{

											}
										}
										&__num{
											font-size: 1.6rem;
											margin-bottom: 3rem;
										}
										&__weekday{
											font-size: 1.1rem;
										}
									}
									@at-root {
										.header{
											color: #7f7f7f;
											background-color: #ebebeb;
											@include scut-size(14.8rem 9.2rem);
											padding: 14px 15px;
											text-align: left;
											position: relative;
											&__title{
												font-size: 1.6rem;
												//margin-bottom: 3rem;
												@include scut-absolute(1.4rem n n 1.5rem);
											}
											&__descr{
												font-size: 1.1rem;
												@include scut-absolute(n n 1.4rem 1.5rem);
											}
										}
									}
								}


								&__info-cell{

									@at-root {
										.info-table{
											width: 100%;

											/*&__time-cell{
												width: calc(100%/288*attr(colspan));
											}*/

											@for $i from 1 through 320 {
												[colspan="#{$i}"]{
													width: calc(100%/320*#{$i});
												}
											}

											&__time{
												width: 3rem;
												text-align: center;
											}

											&__time-row{
												height: 5.1rem;
											}
											&__time-cell{
												text-align: left;
												vertical-align: bottom;
												padding-left: 1rem;
												&:last-of-type{
													//padding-right: 2.6rem;
												}
											}
											&__time{
												font-size: 1.3rem;
												color:#000;
												text-decoration: none;
												display: inline-block;



												&_state{
													&_active{
														&:hover{
															transform: scale(1.3,1.3);
														}
													}
													&_noactive{
														color: rgba(0,0,0,0.3);
													}
												}
											}

											&__cost-row{
												height: 4.2rem;
											}
											&__cost-cell{
												//padding: 0 1rem;
												padding-left: 1rem;
												vertical-align: bottom;
											}
											&__cost{
												color: #7f7f7f;
												font-size: 1.1rem;
												vertical-align: bottom;
												text-align: left;
												border-bottom: 1px solid #ebebeb;

												padding-bottom: 3px;
											}
										}
									}
								}
							}
						}
					}
				}
			}




		}
	}
}

.set{
	margin-bottom:2.4rem;
}
