@import "imports";

.category-list{
	&__item{
		@at-root {
			.category{
				&__header{
					font-size: 1.4rem;
					color: #7f7f7f;
					text-align: center;
					@include scut-size(100% 9rem);
					background-color: #fff;

					display: flex;
					justify-content:center;
					align-items:center;
				}
				@at-root {
					.quest-list{
						&__item{

						}
					}
				}
			}
		}
	}
}

.quest{
	&__img{

	}
	@at-root {
		.block{
			&_side{
				/*левый верхний угол блока.*/
				&_top-left{

				}
				/*левый нижний угол блока.*/
				&_bottom-left{
					@at-root {
						/*информация о квесте*/
						/*заголовок*/
						.quest-title{
							/*иногда он бывает ссылкой*/
							/*стили, чтобы не менялся вид*/
							&_role{
								&_link{
									&:hover{

									}
								}
							}
						}
						/*Описание*/
						.quest-descr{

						}
					}
				}
				/*правый нижний угол блока.*/
				&_bottom-right{
					/*информационная панель квеста с иконками*/
					@at-root {
						.quest-panel{
							tr{

							}
							td{

								&.age {

								}
							}

							&__icon-row{

							}
							&__icon{

							}
							&__descr-row{

							}
							&__descr{

							}
						}

						.btn-place{

						}

						/*кнопка*/
						.btn{

							&:hover{

							}

							&_role{
								/*кнопка отмены*/
								&_delete-reserve{

								}
							}
						}

						/*время прохождения*/
						.time{
							font-size: 1.1rem;
							display: inline-block;
							position: relative;
							@include scut-vcenter-lh(3.3rem);
							vertical-align: bottom;
							&:after{
								content: "";
								background: url(../images/svg/icons/time.svg) no-repeat center/cover;
								@include scut-size(2rem);
								@include scut-absolute(0 n 0 -2.5rem);
								margin: auto;
							}
						}

						[name='share-trigger']{
							display: none;
							&:checked{
								&~.btn_role_share{
									display: none;
								}
								&~.share-list{
									display: inline-flex;
								}
							}
						}
						.share-list{
							//@include scut-absolute(5.4rem 5.1rem n n);
							display: none;
							//@include scut-margin(n 0.5rem n 3.5rem);
							margin-left: 2.7rem;
							//vertical-align: top;
							@include scut-size(10rem 3.3rem);
							align-items: center;
							justify-content: space-between;

							&__item{
								position: relative;
								height: 1.5rem;

								&_elem{
									&_vk{
										width: 12px;
										.icon{
										}
									}
									&_tw{
										width: 16px;
										.icon{
										}
									}
									&_fb{
										width: 8px;
										height: 1.9rem;
										.icon{

										}
									}
								}

								.icon{
									@include scut-size(100%);
									display: block;
									svg{
										@include scut-size(100%);
										fill:#fff;
									}
								}
								&:hover{
									svg{
										fill:#9c9c9c;
									}
								}


							}
							&__link{
								display: block;
								@include scut-size(100%);
								position: relative;
								z-index: 1;
							}
						}
					}
				}
				/*правый верхний угол блока.*/
				&_top-right{
					@include scut-absolute(5.1rem 5.1rem n n);
					@at-root {
						/*запрет прохождения*/
						.lock{

						}
						.photos{
							font-size: 1.1rem;
							padding-right: 2.5rem;
							.icon{
								@include scut-absolute(-0.5rem -0.4rem n n);
								@include scut-size(2.3rem 1.9rem);
								svg{
									@include scut-size(100%);
									fill:#fff;
								}
							}
							&:hover{
								color: #9c9c9c;
								svg{
									fill:#9c9c9c;
								}
							}
						}
						.date{

						}
						.cost{

						}
					}
				}
			}
		}

	}
}

.pop-up{
	&_name{
		&_spam{
			position: absolute;
			.pop-up {
				&__trigger {

				}
				&__contaner {

				}
					&__block{
						padding-top: 36.4%;
					}
			}
		}
		&_slider{
			z-index: -1;
			position: absolute;
			.pop-up {
				/*&__trigger{
					&:checked+.pop-up__contaner{
						z-index: 100;
					}
				}*/
				&__contaner {
					height: 100%;
					position: relative;
					display: block;
				}
					&__label_role_close{
						color: #fff;

						.icon{
						    &:after,&:before{
								background-color: #fff;
							}
						}

						&:hover{
							color: #9c9c9c;
							.icon{
								&:after,&:before{
									background-color: #9c9c9c;
								}
							}
						}
					}
					&__block{
						//padding-top: 36.4%;
						@include scut-absolute();
						width: 100%;

						@at-root {
							.slider_page_user-page{
								width: 100%;
								min-width: 102.4rem;
								.slider{
									&__slide{
										display: inline-block;
									}
										&__img{
											width: 100%;
										}
								}
							}
						}
					}


			}
		}
	}
}

@at-root {
	.form{
		&_name{
			&_user-data {
				//@include scut-size(auto 4.2rem);
				.form {
					&__fieldset {
						display: inline-block;
						vertical-align: top;
						margin-top: -0.5rem;
					}
						&__field-place {
							display: inline-block;
							&_name{
								&_name{
									.form{
										&__field-label-place {
											label{
												padding-right: 18.4rem;
											}
										}
										&__field-input-place{
											margin: 0;
											input{
												width: 15.5rem;
												margin-left: -2px;
											}
										}
									}
								}
								&_tel{
									.form{
										&__field-label-place {
											label{
												padding-right: 22.3rem;
											}
										}
										&__field-input-place{
											input{

											}
										}
									}
								}
							}

						}
							&__field-label-place {

							}
								&__field-label {

								}
							&__field-input-place {

							}
								&__field-input {
									border-bottom-color: transparent;
									width: 15.5rem;
									&:focus{
										border-bottom-color: #000;
										color: #000;
									}
								}
					&__btn{
						@include scut-size(10.5rem 4rem);
						vertical-align: top;
						&_role{
							&_send{
								display: none;
							}
							&_change{

							}
						}
					}
				}
			}
			&_spam{
				.form {
					//width: 63rem;
					&__wrapper{
						display: flex;
						justify-content: space-around;
						align-items: center;
						@include scut-size(63rem 20.5rem);
						margin: auto;
						@include scut-absolute(0 0 0 0);
					}
						&__fieldset {
							width: 50%;
							display: inline-block;
						}
							&__field-place {

							}
								&__field-label-place {

								}
								&__field-label {

								}
								&__field-input-place {

								}
								&__field-input {
									width: 20.5rem;

									color: #000;
									&:focus{

									}
								}
						&__text {
							font-size: 1.4rem;
							color: #7f7f7f;

							width: 50%;
							padding: 0 1rem;
						}
					&__btn {
						@include scut-size(9rem 3.2rem);
						@include scut-absolute(n 5.1rem 4.4rem n);
						font-size: 1.1rem;
					}
				}
			}
		}
	}
	.form-wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 6.5rem 0;
		background-color: #ebebeb;
		position: relative;

		.invalid-mess_name_user-data{
			top: 2rem;
		}
	}

	.nav_page_account{
		&.nav {
			&_tabs {
				&_quest-set {
					background-color: #ebebeb;
					text-align: center;
				}
			}
		}
		.nav{
			&__tab{
				display: inline-block;
				width: 29rem;
				@include scut-vcenter-lh(9rem);
				position: relative;
				&:after{
					content: "";
					@include scut-size(100% 1px);
					@include scut-absolute(0 0 n 0);
					background-color: #000;
				}
				&_state{
					&_active{
						font-weight: bold;
						&:after{
							height: 3px;
						}
					}
				}
			}
			&__link{
				font-size: 1.4rem;
				color: #000;
				text-decoration: none;
				display: block;
			}
		}

	}
}
