doctype html
html.no-js
	head
		meta(charset='utf-8')
		title Exit
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		link(rel="favicons" href="favicon.png")

		link(rel='shortcut icon', href='/images/favicons/favicon.ico')
		link(rel='apple-touch-icon', sizes='57x57', href='/images/favicons/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/images/favicons/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/images/favicons/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/images/favicons/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/images/favicons/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/images/favicons/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/images/favicons/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/images/favicons/apple-touch-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-touch-icon-180x180.png')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-192x192.png', sizes='192x192')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-160x160.png', sizes='160x160')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-96x96.png', sizes='96x96')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-16x16.png', sizes='16x16')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-32x32.png', sizes='32x32')
		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='/images/favicons/mstile-144x144.png')
		meta(name='msapplication-config', content='/images/favicons/browserconfig.xml')

		//- Inject scripts
		// build:js /scripts/modernizr.js
		script(src='/scripts/modernizr/modernizr.custom.js')

		script(src='/scripts/modernizr/calcViewport.test.js')
		script(src='/scripts/modernizr/calcPercent.test.js')
		//-script(src='/scripts/modernizr/jp2.test.js')
		script(src='/scripts/modernizr/woff2.test.js')
		// endbuild

		// build:js /scripts/vendors.js
		// bower:js
		script(src="/bower_components/es6-shim/es6-shim.min.js")
		script(src="/bower_components/localforage/dist/localforage.nopromises.min.js")
		// endbower
		// endbuild

		// build:js /scripts/classesScripts.js
		script(src='/scripts/loadScripts.js')
		script(src='/scripts/loadImg.js')
		script(src="/scripts/loadBackground.js")
		script(src="/scripts/form.js")
		// endbuild

		block script

		// Include fonts
		script(src='/scripts/loadFonts.js')
		link#font(rel='stylesheet',data-href="/styles/fonts/fonts.css")
		script.
			(new StyleLoad(document.getElementById("font"))).loadStyle();

		<!--[if lte IE 9]>

		<![endif]-->

		//- Inject styles
		// build:css /styles/styles.css
		// bower:css
		link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
		// endbower
		link(rel='stylesheet' href='/styles/layout.css')
		link(rel='stylesheet' href='/styles/index.css')
		link(rel='stylesheet' href='/styles/timetable.css')
		link(rel='stylesheet' href='/styles/booking.css')
		link(rel='stylesheet' href='/styles/certificate.css')
		link(rel='stylesheet' href='/styles/user-page.css')
		link(rel='stylesheet' href='/styles/contacts.css')
		link(rel='stylesheet' href='/styles/text-content.css')
		// endbuild

		block style
	body
		div.svg(style="display:none")
			|@@include('images/svg/sprites.svg')

		include placeholders/_authorization

		div(block="top-block")
			a(elem="tel",href="facetime-audio:"+locals.contacts.tel.match(/\d+/g).join(""))=locals.contacts.tel
			ul(block="social-list",mod="location:header")
				each item in locals.share
					li(elem="item",class=item.abbr)
						a(elem="link",href="#")=item.title
							i.icon: svg: use(xlink:href='#'+item.abbr)

		header
			div(block="logo",mod="block:header")
				a(elem="link",href="/")
					svg(elem="img"): use(xlink:href='#logo')

			nav(block="nav",mod="block:header")
				ul(block="nav-menu")
					each item in locals.nav
						li(elem="item",class=(item.active)?"active":"")
							if item.active
								span(elem="link")=item.title
							else
								a(elem="link",href="/"+item.href+".html")=item.title
				label(block="enter",for="auth-popup") Вход

		main
			block content

		block footer
		// build:js /scripts/pageScripts/authPopup.js
		script(src="/scripts/popups/authPopup.js")
		script(src="/scripts/forms/loginForm.js")
		script(src="/scripts/forms/registrationForm.js")
		script(src="/scripts/forms/resetPassForm.js")

		script(src="/scripts/handlers/logout.js")
		// endbower
		block scripts
