extends _layout
block scripts
	// build:js /scripts/pageScripts/booking.js
	script(src="/scripts/shim/calcviewport.js")
	script(src="/scripts/pagesscripts/booking.js")
	script(src="/scripts/forms/reservationForm.js")
	// endbuild
block content
	div(block="quest",mod="height:viewport")
		div(elem="img",mod="role:bg",data-src="1")

		div(block="block",mod="side:top-left")
		div(block="block",mod="side:bottom-left")
			div(block="quest-title") Кабинет босса
			div(block="quest-descr") A nunc tincidunt, magna sed aliquam, sit hac mauris, dapibus adipiscing turpis lorem ut rhoncus ut turpis tempor nisi magnis.
		div(block="block",mod="side:bottom-right")
			form(block="form",mod="name:reservation",name="reservation",data-method="POST",action="/api/reserve/",novalidate=true)
				input(type='hidden', name='quest_slot', value='17022')
				input(type='hidden', name='datetime', value='2015-08-12T20:40')
				.btn-place
					button(block="btn",mod="role:cancel",type='button') Отменить
					button(block="btn",mod="role:reserv",type='submit') Забронировать
		div(block="block",mod="side:top-right")
			div(block="date") 25 августа, среда, 7:00
			div(block="cost") стоимость 3000 р



