extends _layout
block scripts
	// build:js /scripts/pageScripts/certificate.js
	script(src="/scripts/shim/calcviewport.js")
	script(src="/scripts/pagesscripts/certificate.js")
	// endbuild
block content
	div#casino(block="quest",mod="height:viewport,page:certificate,show:casino")
		div(block="block",mod="side:top-left")
			ul(block="nav",mod="tabs:quest-set")
				li(elem="tab",mod="state:active")
					span(elem="link") Exit casino
				li(elem="tab")
					a(elem="link",href="#impossible") Exit impossible


		div(block="block",mod="side:bottom-left")
			div(block="quest-title") Подарочный сертификат casino
			div(block="quest-descr").
				Участие в ограблении казино – разве это не отличный подарок?<br>
				С подарочным сертификатом EXIT такое возможно!

			dl(block="price")
				dt(elem="cost") 7 000 р
				dd(elem="descr") любой квест
			dl(block="price")
				dt(elem="cost") 4 500 р
				dd(elem="descr") любой квест <br>не дольше 1 часа
		div(block="block",mod="side:bottom-right")
			dl(block="tel")
				dt(elem="title") Позвони и закажи:
				dd(elem="descr")
					a(elem="tel",href="facetime-audio:"+locals.contacts.tel.match(/\d+/g).join(""))=locals.contacts.tel
		div(block="block",mod="side:top-right")

	div#impossible(block="quest",mod="height:viewport,page:certificate,show:impossible")
		div(block="block",mod="side:top-left")
			ul(block="nav",mod="tabs:quest-set")
				li(elem="tab")
					a(elem="link",href="#casino") Exit casino
				li(elem="tab",mod="state:active")
					span(elem="link") Exit impossible


		div(block="block",mod="side:bottom-left")
			div(block="quest-title") Подарочный сертификат impossible
			div(block="quest-descr").
				Участие в ограблении казино – разве это не отличный подарок?<br>
				С подарочным сертификатом EXIT такое возможно!

			dl(block="price")
				dt(elem="cost") 7 000 р
				dd(elem="descr") любой квест
			dl(block="price")
				dt(elem="cost") 4 500 р
				dd(elem="descr") любой квест <br>не дольше 1 часа
		div(block="block",mod="side:bottom-right")
			dl(block="tel")
				dt(elem="title") Позвони и закажи:
				dd(elem="descr")
					a(elem="tel",href="facetime-audio:"+locals.contacts.tel.match(/\d+/g).join(""))=locals.contacts.tel
		div(block="block",mod="side:top-right")
