extends _layout
block script
	script(type="text/javascript",src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;language=ru")
block scripts
	// build:js /scripts/pageScripts/contacts.js
	script(src="/scripts/pagesscripts/map.js")
	script(src="/scripts/shim/calcviewport.js")
	// endbuild

block content
	div(block="contacts")
		ul(block="contacts-list")
			li(elem="item")=locals.contacts.addr
			li(elem="item")=locals.contacts.metro
			li(elem="item")
				a(elem="tel",href="facetime-audio:"+locals.contacts.tel.match(/\d+/g).join(""))=locals.contacts.tel
			li(elem="item")
				a(href="mailto:"+locals.contacts.email)=locals.contacts.email
			li(elem="item")
				ul(block="social-list")
					each item in locals.share
						li(elem="item",class=item.abbr)
							a(elem="link",href="#")=item.title
								i.icon: svg: use(xlink:href='#'+item.abbr)

		div(block="views")
			input#map-trigger(elem="trigger",type="radio",name="views-trigger",checked=true)
			input#sphere-trigger(elem="trigger",type="radio",name="views-trigger")

			ul(block="views-list")
				li(elem="item")
					label(elem="label",for="map-trigger") карта
				li(elem="item")
					label(elem="label",for="sphere-trigger") вид с улицы

			div(elem="items")
				div#map(block="map")
				div#sphere(block="sphere")