extends _layout

block scripts
	// build:js /scripts/pageScripts/dateSchedule.js
	script(src="/scripts/generateSchedule.js")
	script(src="/scripts/pagesscripts/dateSchedule.js")
	script(src="/scripts/pagesscripts/schedule.js")
	script(src="/scripts/stickyTimetable.js")
	// endbuild

block content
	div(block="timetable")
		each date,index in [{num:13,weekday:"ср",active:true},{num:14,weekday:"чт",active:false},{num:15,weekday:"пт",active:false},{num:16,weekday:"сб",active:false},{num:17,weekday:"вс",active:false},{num:18,weekday:"пн",active:false},{num:19,weekday:"вт",active:false},{num:20,weekday:"ср",active:false},{num:21,weekday:"чт",active:false},{num:22,weekday:"пт",active:false},{num:23,weekday:"сб",active:false},{num:24,weekday:"вс",active:false},{num:25,weekday:"пн",active:false},{num:26,weekday:"вт",active:false}]
			input(elem="trigger",type="radio",name="timetable_trigger",id="timetable_trigger_"+(index+1),data-target=(index+1))

		div.sticky(elem="top-block")
			div(elem="header")
				h2(elem="title") Расписание
				div(elem="period") 13 августа - 27 августа
			ul(block="date-list")
				each date,index in [{num:13,weekday:"ср",active:true},{num:14,weekday:"чт",active:false},{num:15,weekday:"пт",active:false},{num:16,weekday:"сб",active:false},{num:17,weekday:"вс",active:false},{num:18,weekday:"пн",active:false},{num:19,weekday:"вт",active:false},{num:20,weekday:"ср",active:false},{num:21,weekday:"чт",active:false},{num:22,weekday:"пт",active:false},{num:23,weekday:"сб",active:false},{num:24,weekday:"вс",active:false},{num:25,weekday:"пн",active:false},{num:26,weekday:"вт",active:false}]
					li(elem="item")
						label(block="date",mod=(date.weekday=='сб'||date.weekday=='вс')?"day:on":"day:off",for="timetable_trigger_"+(index+1))
							div(elem="num")=date.num
							div(elem="weekday")=date.weekday

		ul(block="sets",style="height:1000px")
			li(block="set" id=1)
				div(elem="header")
					div(elem="title") Exit
					div(elem="title") Casino
				div(elem="tables")
					- for(var i=0;i<14;i++)
						table(block="table")
			li(block="set" id=2)
				div(elem="header")
					div(elem="title") Exit
					div(elem="title") Casino
				div(elem="tables")
					- for(var i=0;i<14;i++)
					table(block="table")

block footer
	include placeholders/_footer