extends _layout

block scripts
	// build:js /scripts/pageScripts/index.js
	script(src="/scripts/vimeo-video.js")
	script(src="/scripts/pagesscripts/index.js")
	// endbuild

block content
	//-
		div(block="top")
			img(elem="img",mix="{block:scale,elem:bg}",data-src="main")
			div(elem="content")
				p(elem="descr").
					EXIT - это квест в реальности. Разгадайте головоломки, найдите тайники, воспользуйтесь <br>
					подсказками, всеми доступными вещами, добудьте ключи и откройте двери к победе!

				button(elem="apply") Записаться на квест
	div(block="set",mod="title:casino")
		div(block="vm-video")
			//-iframe(elem="video",mix="{block:scale,elem:bg}",type="text/html",src="http://www.youtube.com/embed/4-Mct5HsOVg?autoplay=1&autohide=1&controls=0&disablekb=1&enablejsapi=1&fs=0&iv_load_policy=3&loop=1&&playlist=4-Mct5HsOVg&rel=0&modestbranding=1&showinfo=0",frameborder="0")
			//-http://i.vimeocdn.com/video/528520119_1280.jpg
			iframe(elem="video",mix="{block:scale,elem:bg}",id="casino",src="https://player.vimeo.com/video/134845809?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;loop=1&amp;player_id=casino", allowfullscreen=true)
			div(elem="content")
				img(elem="img",src="/images/svg/img/casino.svg")
				div(elem="text").
					Казино - одно из самых злачных мест в городе. Им управляет Джек Крейтон - мистик, садист и психопат,<br>
					заработавший себе состояние на подпольных собачьих боях, шантаже и выбивании денег.<br>
					Его казино никогда не проигрывает. Единственный способ обыграть казино - это ограбить казино.<br>
					Это вам и предстоит сделать, воспользовавшись помощью одного из крупье - единственного<br>
					человека в заведении, который тоже непрочь избавить город от этого гнезда порока.

		div(block="quests")
			- for(var i=0;i<4;i++)
				a(block="quest",mod="role:link,width:half,page:index",href="/quest-timetable.html")
					img(elem="img",data-src="boss",alt="")

					div(block="block",mod="side:top-left")
					div(block="block",mod="side:bottom-left")
						div(block="quest-title") Кабинет босса
					div(block="block",mod="side:bottom-right")
						table(block="quest-panel")
							tr(elem="icon-row")
								td.actor(elem="icon")
									svg: use(xlink:href='#actor')
								td.difficulty.light(elem="icon")
									svg: use(xlink:href='#difficulty-1')
								td.people.humen1(elem="icon")
									svg: use(xlink:href='#human-1')
								td.duration(elem="icon")
									svg: use(xlink:href='#duration')
								td.age(elem="icon")
									svg: use(xlink:href='#age-14')

							tr(elem="descr-row")
								td.actor(elem="descr") актер
								td.difficulty(elem="descr") легко
								td.people(elem="descr") 1 чел.
								td.duration(elem="descr") 60 мин.
								td.age(elem="descr")
					div(block="block",mod="side:top-right")

block footer
	include placeholders/_footer
