extends _layout

block scripts
	// build:js /scripts/pageScripts/questSchedule.js
	script(src="/scripts/pagesscripts/questSchedule.js")
	// endbuild

block content
	style.
		.table{
			display: table;
		}
		.frame {
			position: relative;
			font-size: 0;
			line-height: 0;
			overflow: hidden;
			white-space: nowrap;
		}

		.slides {
			display: inline-block;
		}

		.slides li {
			position: relative;
			display: inline-block;
		}

	div(block="quest",mod="page:timetable,position:top")
		div.js_simple.simple(block="slider",mod="page:timetable")
			.frame.js_frame
				.slides.js_slides
					div.js_slide(elem="slide")
						img(elem="img",data-src="bank")
					div.js_slide(elem="slide")
						img(elem="img",data-src="Ded")
					div.js_slide(elem="slide")
						img(elem="img",data-src="boss")

		div(block="block",mod="side:top-left")
		div(block="block",mod="side:bottom-left")
			div(block="quest-title") Кабинет босса
			div(block="quest-descr") A nunc tincidunt, magna sed aliquam, sit hac mauris, dapibus adipiscing turpis lorem ut rhoncus ut turpis tempor nisi magnis.
		div(block="block",mod="side:bottom-right")
			table(block="quest-panel")
				tr(elem="icon-row")
					td.actor(elem="icon")
						svg: use(xlink:href='#actor')
					td.difficulty.light(elem="icon")
						svg: use(xlink:href='#difficulty-2')
					td.people.humen1(elem="icon")
						svg: use(xlink:href='#human-1')
					td.duration(elem="icon")
						svg: use(xlink:href='#duration')
					td.age(elem="icon")
						svg: use(xlink:href='#age-14')

				tr(elem="descr-row")
					td.actor(elem="descr") актер
					td.difficulty(elem="descr") легко
					td.people(elem="descr") 1 чел.
					td.duration(elem="descr") 60 мин.
					td.age(elem="descr")
		div(block="block",mod="side:top-right")
			div(block="lock") доступно только после прохождения всех квестов
	div(block="timetable-content")
		h2 Расписание
		div.period 13 августа - 27 августа

		div(block="timetable")
			table(block="table")

	a(block="quest",mod="role:link,height:half,page:timetable,position:bottom",href="#")
		img(elem="img",data-src="security3",src="",alt="")

		div(block="block",mod="side:top-left")
		div(block="block",mod="side:bottom-left")
			div(block="quest-next") Далее
			div(block="quest-title") Кабинет босса
		div(block="block",mod="side:bottom-right")
			table(block="quest-panel")
				tr(elem="icon-row")
					td.actor(elem="icon")
						svg: use(xlink:href='#actor')
					td.difficulty.light(elem="icon")
						svg: use(xlink:href='#difficulty-1')
					td.people.humen1(elem="icon")
						svg: use(xlink:href='#human-1')
					td.duration(elem="icon")
						svg: use(xlink:href='#duration')
					td.age(elem="icon")
						svg: use(xlink:href='#age-14')

				tr(elem="descr-row")
					td.actor(elem="descr") актер
					td.difficulty(elem="descr") легко
					td.people(elem="descr") 1 чел.
					td.duration(elem="descr") 60 мин.
					td.age(elem="descr")
		div(block="block",mod="side:top-right")

block footer
	include placeholders/_footer
