extends _layout

block scripts
	// build:js /scripts/pageScripts/account.js
	script(src="/scripts/pagesscripts/userPage.js")
	script(src="/scripts/forms/userDataForm.js")
	script(src="/scripts/popups/sliderPopup.js")
	script(src="/scripts/popups/spamPopup.js")
	script(src="/scripts/forms/sendInvitesForm.js")
	script(src="/scripts/handlers/deleteReserve.js")
	// endbuild

block content
	style.
		.frame {
			position: relative;
			font-size: 0;
			line-height: 0;
			overflow: hidden;
			white-space: nowrap;
			width: 100%;
		}

		.lory-init .frame{
			left: -25%;
			width: 150%;
		}

		.slides {
			display: inline-block;
			width: 100%;
		}

		.slider__slide {
			position: relative;
			display: inline-block;
			width: calc(100%/2);
		}
		.lory-init .slider__slide {
			width: calc(100%/3);
		}

		.slider__arrow{
			width: 25%;
			height: 100%;
			position: absolute;
			top: 0;
			background-color: rgba(0,0,0,0.5);
			display: none;
		}
		.lory-init .slider__arrow{
			display: block;
		}
		.js_prev{
			left: 0;
		}
		.js_next{
			right: 0;
		}

	//-изменить превращается в готово кнопка отправить на попапе
	div(block="form-wrapper")
		div(block="invalid-mess",mod="name:user-data") Форма заполнена не верно

		form(block="form",mod="name:user-data",name="user-data",data-method="PUT",action="/api/change-user-data",novalidate=true)
			fieldset(elem="fieldset")
				dl(elem="field-place",mod="name:name")
					dt(elem="field-label-place")
						label(elem="field-label") имя
					dd(elem="field-input-place")
						input(elem="field-input",mod="name:full-name",type="text",name="full_name",value="Михаил",required=true)
				dl(elem="field-place",mod="name:tel")
					dt(elem="field-label-place")
						label(elem="field-label") телефон
					dd(elem="field-input-place")
						input(elem="field-input",mod="name:phone",type="text",name="phone",value="+79169960570",required=true)
			button(elem="btn",mod="role:send",type="submit") Подтвердить
			button(elem="btn",mod="role:change",type="button") Изменить
	ul(block="nav",mod="tabs:quest-set,page:account")
		li(elem="tab",mod="state:active")
			a(elem="link",href="#casino") Exit casino
		li(elem="tab")
			a(elem="link",href="#impossible") Exit impossible
	ul(block="category-list")
		li(elem="item")
			div(block="category",mod="type:reserved")
				h2(elem="header") Забронированные квесты
				div(block="quests")
					div(block="quest")
						img(elem="img",data-src="boss",src="",alt="")

						div(block="block",mod="side:top-left")
						div(block="block",mod="side:bottom-left")
							div(block="quest-title") Хранилище
						div(block="block",mod="side:bottom-right")
							div(block="btn-place")
								button(block="btn",mod="role:delete-reserve") Отменить бронь
								label(block="btn",mod="target:spam",for="spam-popup_1") Пригласить участников
						div(block="block",mod="side:top-right")
							div(block="date") 25 августа, среда, 7:00
							div(block="cost") стоимость 3000 р

						div(block="pop-up",mod="name:spam")
							input#spam-popup_1(elem="trigger",type="checkbox")
							div(elem="contaner")
								div(elem="block")
									label(elem="label",mod="role:close",for="spam-popup_1") закрыть
										i(block="icon",mod="shape:close")

									div(block="invalid-mess",mod="name:spam") Форма заполнена не верно

									form(block="form",mod="name:spam",name="spam",action="/api/send-invites/",data-method="POST",novalidate=true)
										div(elem="wrapper")
											fieldset(elem="fieldset")
												dl(elem="field-place")
													dt(elem="field-label-place")
														label(elem="field-label") email
													dd(elem="field-input-place")
														input(elem="field-input",mod="name:email",type="email",name="email")
												dl(elem="field-place")
													dt(elem="field-label-place")
														label(elem="field-label") email
													dd(elem="field-input-place")
														input(elem="field-input",mod="name:email",type="email",name="email")
												dl(elem="field-place")
													dt(elem="field-label-place")
														label(elem="field-label") email
													dd(elem="field-input-place")
														input(elem="field-input",mod="name:email",type="email",name="email")
											p(elem="text").
												Отправь уведомления остальным участникам,<br>
												чтобы они точно знали во сколько и где<br>
												состоится квест.
										button(elem="btn",mod="role:send") Отправить

		li(elem="item")
			div(block="category",mod="type:completed")
				h2(elem="header") Пройденные квесты
				div(block="quests")
					div(block="quest")
						img(elem="img",data-src="bank",src="",alt="")

						div(block="block",mod="side:top-left")
						div(block="block",mod="side:bottom-left")
							a(block="quest-title",mod="role:link",href="#") Кабинет босса
						div(block="block",mod="side:bottom-right")
							div(block="btn-place")
								div(block="time") 58 мин

								input#share-trigger-0(type="checkbox",name="share-trigger")
								ul(block="share-list")
									li(elem="item",mod="elem:vk")
										a(elem="link",href="#") VKontakte
											i(block="icon")
												svg: use(xlink:href='#vk')
									li(elem="item",mod="elem:tw")
										a(elem="link",href="#") Twitter
											i(block="icon")
												svg: use(xlink:href='#tw')
									li(elem="item",mod="elem:fb")
										a(elem="link",href="#") FaceBook
											i(block="icon")
												svg: use(xlink:href='#fb')
								label(block="btn",mod="role:share",for="share-trigger-0") Поделиться
						div(block="block",mod="side:top-right")
							label(block="photos",for="slider-popup-0") фотографии с квеста
								i(block="icon",mod="elem:photos")
									svg: use(xlink:href='#photos')

						div(block="pop-up",mod="name:slider")
							input#slider-popup-0(elem="trigger",type="checkbox",name="slider-popup")
							div(elem="contaner")
								div(elem="block")
									label(elem="label",mod="role:close",for="slider-popup-0") закрыть
										i(block="icon",mod="shape:close")
									div.js_simple.simple(block="slider",mod="page:user-page")
										.frame.js_frame
											.slides.js_slides
												div.js_slide(elem="slide")
													img(elem="img",data-src="1")
												div.js_slide(elem="slide")
													img(elem="img",data-src="2")
												div.js_slide(elem="slide")
													img(elem="img",data-src="3")
												div.js_slide(elem="slide")
													img(elem="img",data-src="4")

										div.js_prev.prev(elem="arrow",mod="side:left")
										div.js_next.next(elem="arrow",mod="side:right")

		li(elem="item")
			div(block="category",mod="type:repeat")
				h2(elem="header") Не удалось пройти
				div(block="quests")
					div(block="quest")
						img(elem="img",data-src="Casinogradhor",src="",alt="")

						div(block="block",mod="side:top-left")
						div(block="block",mod="side:bottom-left")
							a(block="quest-title",mod="role:link",href="#") Комната любовнцы
						div(block="block",mod="side:bottom-right")
							div(block="btn-place")
								a(block="btn",mod="role:repeat",href="#") Попробовать еще раз
						div(block="block",mod="side:top-right")
		li(elem="item")
			div(block="category",mod="type:notpassed")
				h2(elem="header") Осталось пройти
				div(block="quests")
					div(block="quest")
						img(elem="img",data-src="Ded",src="",alt="")

						div(block="block",mod="side:top-left")
						div(block="block",mod="side:bottom-left")
							a(block="quest-title",mod="role:link",href="#") Побег
						div(block="block",mod="side:bottom-right")
							div(block="btn-place")
								a(block="btn",mod="role:enter",href="#") Пройти квест
						div(block="block",mod="side:top-right")
							div(block="lock") доступно только после прохождения всех квестов

block footer
	include placeholders/_footer
