.form{
	&__fieldset{

	}
	&__field-place{
		&.invalid{
			.form__field-label{
				color: #c76a60;
			}
			.form__field-input{
				border-bottom-color: #c76a60 !important;
			}
		}
		&:last-child{
			.form__field-input-place{
				margin-bottom: 0;
			}
		}
	}
		&__field-label-place{
			margin-bottom: 1rem;
		}
			&__field-label{
				font-size: 1.2rem;
				color: #7f7f7f;
			}
		&__field-input-place{
			margin-bottom: 2rem;
		}
			&__field-input{
				font-size: 2rem;
				color: #7f7f7f;
				background-color: transparent;

				border: 1px solid transparent;
				border-bottom-color: #7f7f7f;
				padding-bottom: 0.2rem;
				&:focus{
					outline: 0;
					border-bottom-color: #000;
				}

			}
	&__text{

	}
	&__btn{
		font-size: 1.4rem;
		color: #7f7f7f;
		border: 1px solid;
		border-radius: 3px;
		&:hover{
			border-color: #000;
			background-color: #000;
			color: #fff;
		}
	}
}

.invalid-mess{
	width: 40rem;
	text-align: center;
	@include scut-absolute(4.5rem 0 n 0);
	margin: auto;
	font-size: 14px;
	color:#c76a60;
	display: none;
	&.visible{
		display: block;
	}
}
