.pop-up{
	z-index: 100;
	@include scut-fixed(0 0 n 0);
	@include scut-size(100% 0);
	&__trigger{
		display: none;
		&:checked+.pop-up__contaner{
			display: block;
		}
	}
	&__contaner{
		display: none;

		//background-color: rgba(0,0,0,0.5);
	}
	&__block{
		//width: 100%;
		background-color: #ebebeb;
		position: relative;
	}
	&__label_role_close{
		font-size: 1.1rem;
		color: #7f7f7f;
		@include scut-size(9rem 2rem);
		@include scut-absolute(5.0rem 5.1rem n n);
		padding-right: 2.5rem;
		display: inline-flex;
		justify-content: flex-end;
		align-items: center;
		z-index: 1;
		.icon_shape_close{
			@include scut-absolute(0 0 n n);
			@include cross(2rem,1px,#7f7f7f,false);
		}

		&:hover{
			color: #000;
			.icon_shape_close{
				@include cross(2rem,1px,#000,false);
			}
		}
	}
}
