@import "../imports";

.quests{
	width: 100%;
}

.quest{
	background-color: #ccc;
	color: #fff;
	position: relative;

	overflow: hidden;
	height: 0;

	width: 100%;
	padding-top: 34.6%;
	display: block;

	&:after{
		content: "";
		@include scut-size(100%);
		@include scut-absolute();
		//background: #000000;
	}
	&.error:after{
		/*background: #f00;*/
		background-color: #000000;
	}
	&.load:after{
		background-color: #000000;
		/*background: #0f0;*/
	}
	&.loading:after{
		content: none;
	}

	&_width{
		&_half{
			width: 50%;
			display: inline-block;
		}
		/*&_full{
			width: 100%;
			padding-top: 34.6%*2;
			display: block;
		}*/
	}
	&_height{
		&_half{
			//padding-top: 34.6%/2 !important;
			padding-top: 16% !important;
		}
		/*&_full{
			padding-top: 34.6% !important;
		}*/
		&_viewport{
			height: 100%;
			height: $full-screen-height;
			padding-top: 0 !important;
			min-height: 25rem;
		}
	}
	/*на главной плашка является ссылкой*/
	&_role{
		&_link {
			.quest__img {
				transform: scale(1.17, 1.17);
				transition: 250ms ease-out;
			}

			&:hover {
				.quest__img {
					transform: scale(1, 1);
					transition: 250ms ease-out;
				}
			}
		}
	}
	/*фоновая картинка*/
	&__img{
		@include scut-absolute();
		width: 100%;
		z-index: 0;
		&_role{
			&_bg{
				height: 100%;
				background: no-repeat center/cover;
			}
		}

		&.pending{
			display: none;
		}
		&.complete{
			display: block;
		}
	}
	@at-root {
		.block{
			z-index: 1;
			&_side{
				/*левый верхний угол блока.*/
				&_top-left{
					@include scut-absolute(5.1rem n n 5.1rem);
				}
				/*левый нижний угол блока.*/
				&_bottom-left{
					@include scut-absolute(n n 4.6rem 5.1rem);
					@at-root {
						/*информация о квесте*/
						/*заголовок*/
						.quest-title{
							font-size: 2.6rem;
							color: #fff;
							width: 25vw;
							/*иногда он бывает ссылкой*/
							/*стили, чтобы не менялся вид*/
							&_role{
								&_link{
									display: block;
									text-decoration: none;
									&:hover{
										color: #9c9c9c;
									}
								}
							}
						}
						/*Описание*/
						.quest-descr{
							font-size: 1.4rem;
							color: #fff;
							width: 50rem;

							margin-top: 3.5rem;
						}
					}
				}
				/*правый нижний угол блока.*/
				&_bottom-right{
					/*информационная панель квеста с иконками*/
					@include scut-absolute(n 5.1rem 3.1rem n);

					@at-root {
						.quest-panel{
							margin-right: -0.4rem;
							tr{

							}
							td{
								@include scut-size(4rem 2rem);
								text-align: center;
								//padding: 0 1px;
								&.age {
									width: 2.5rem;
								}
							}

							&__icon-row{

								svg{
									fill:#fff;
								}

								.actor{
									svg{
										@include scut-size(1.9rem 1.9rem);
									}
								}
								.difficulty{
									svg{
										@include scut-size(2.1rem 1.9rem);
									}
								}
								.people{
									svg{
										@include scut-size(3.1rem 1.9rem);
									}
								}
								.duration{
									svg{
										@include scut-size(1.9rem);
									}
								}
								.age{
									svg{
										@include scut-size(2.4rem 1.4rem);
									}
								}
							}
							&__icon{

							}
							&__descr-row{

							}
							&__descr{
								font-size: 1.1rem;
								color:#fff;
								vertical-align: top;
								padding-top: 10px;
							}
						}

						.btn-place{
							padding-bottom: 1rem;
						}

						/*кнопка*/
						.btn{
							font-size: 1.1rem;
							color: #fff;
							border: 1px solid #fff;
							border-radius: 3px;
							padding: 1rem 2rem;
							display: inline-block;

							margin-left: 2.5rem;

							text-decoration: none;

							&:hover{
								border-color: #9c9c9c;
								background-color: #9c9c9c;
								color: #000;
							}

							&_role{
								/*кнопка отмены*/
								&_cancel{

								}
							}
						}
					}
				}
				/*правый верхний угол блока.*/
				&_top-right{
					@include scut-absolute(5.1rem 5.1rem n n);
					@at-root {
						/*запрет прохождения*/
						.lock{
							font-size: 1.1rem;
							color:#fff;

							padding-right: 3rem;

							width: 18rem;
							text-align: right;
							&:after{
								content: "";
								@include scut-size(1.5rem 1.9rem);
								@include scut-absolute(3px 0 n n);
								background: url("../images/svg/icons/locked.svg") no-repeat;
								background-size: contain;
							}
						}
						.date{
							font-size: 2rem;
						}
						.cost{
							font-size: 1.2rem;

							margin-top: 0.8rem;
						}
					}
				}
			}
		}
	}
}
