.quest-panel{
	tr{

	}
	td{
		@include scut-size(4rem 2rem);
		text-align: center;
		//padding: 0 1px;
		&.age {
			width: 2.5rem;
		}
	}

	&__icon-row{

		svg{
			fill:#fff;
		}

		.actor{
			svg{
				@include scut-size(1.9rem 1.9rem);
			}
		}
		.difficulty{
			svg{
				@include scut-size(2.1rem 1.9rem);
			}
		}
		.people{
			svg{
				@include scut-size(3.1rem 1.9rem);
			}
		}
		.duration{
			svg{
				@include scut-size(1.9rem);
			}
		}
		.age{
			svg{
				@include scut-size(2.4rem 1.4rem);
			}
		}
	}
	&__icon{

	}
	&__descr-row{

	}
	&__descr{
		font-size: 1.1rem;
		color:#fff;
		vertical-align: top;
		padding-top: 10px;
	}
}