@import "../common-blocks/pop-up";
@import "../common-blocks/form";

.pop-up{
	&_name_auth{
		@include scut-fixed(0 0 n 0);
		.auth-nav{
			@include scut-absolute(4.6rem n n 5.1rem);

			@include scut-list-divided("|", 0.5rem, right, $no-margin: false){
				font-size: 14px;
				color: #7f7f7f;
			};
			&__item{

			}
			&__label{
				font-size: 14px;
				color: #7f7f7f;
				&:hover{
					color: #000;
				}
			}
		}

		.pop-up__block{
			@include scut-size(100% 100vh);
			min-height: 50rem;
			display: flex;
			flex-direction:column;
			justify-content: center;
			align-items: center;
		}

		.form-trigger{
			display: none;

			&#auth:checked{
				&~.auth-nav>li>[for="auth"]{
					font-weight: bold;
					pointer-events: none;
				}
				&~form[name="auth"]{
					display: block;
				}
				&~.social_type_auth{
					display: block;
				}
			}
			&#reg:checked{
				&~.auth-nav>li>[for="reg"]{
					font-weight: bold;
					pointer-events: none;
				}
				&~form[name="reg"]{
					display: block;
				}
				&~.social_type_reg{
					display: block;
				}
			}
			&#recovery:checked{
				&~form[name="recovery"]{
					display: block;
				}
			}
		}

		.form{
			width: 20.5rem;
			//margin: auto;
			text-align: right;
			display: none;
			&__fieldset{
				text-align: left;
			}
			&__field-label-place{

			}
			&__field-label{

			}
			&__field-input-place{
				position: relative;
			}
			&__field-input{
				width: 100%;
			}
			&__send-btn{

			}

			&_name{
				&_reg{
					.form{
						&__fieldset{

						}
						&__field-label-place{

						}
						&__field-label{

						}
						&__field-input-place{

						}
						&__field-input{

						}
						&__btn{
							@include scut-size(12.3rem 4rem);
							margin-top: 4rem;
							//float: right;
						}
					}
				}
				&_auth{
					//padding: 14rem 0;
					.form{
						&__btn{
							@include scut-size(7.8rem 4rem);
							margin-top: 6rem;
						}
					}
				}
				&_recovery{
					.form{
						&__btn{
							margin-top: 6rem;
							@include scut-size(18rem 4rem);
						}
					}
				}
			}
			.restore-pass{
				font-size: 1.2rem;
				color: #7f7f7f;
				text-decoration: none;
				@include scut-absolute(n 0 -2.3rem n);
				&:hover{
					color: #000;
				}
			}
		}

		.social{
			@include scut-size(20.5rem 2.1rem);
			display: none;
			margin-top: 5.4rem;
			position: relative;
			&__text{
				font-size: 1.2rem;
				color: #7f7f7f;
				@include scut-absolute(0 n 0 0);
				margin: auto;
				padding-top: 0.4rem;
			}
			&__items{
				@include scut-absolute(0 0 0 n);
				margin: auto;
				@at-root {
					.soc-list{
						&__items{
							margin-right: 4rem;
							height: 2.1rem;
							display: inline-block;
							&:last-child{
								margin-right: 0 !important;
							}

							&_item{
								&_fb{
									width: 1.1rem;
								}
								&_g{
									width: 2rem;
								}
							}
						}
						&__link{
							display: block;
							@include scut-size(100%);
							svg{
								fill:#7f7f7f;
								@include scut-size(100%);
							}
							&:hover{
								svg{
									fill:#000;
								}
							}
						}
					}
				}
			}

			&_type{
				&_reg{
					.social{
						&__text{
							margin-right: 2rem;
						}
						&__items{
							.soc-list{
								&__items{
									margin-right: 2rem;

									&_item{
										&_fb{
										}
										&_g{
										}
									}
								}
								&__link{

								}
							}
						}
					}
				}
				&_auth{
					.social{
						&__text{
							margin-right: 3.7rem;
						}
						&__items{
							.soc-list{
								&__items{
									margin-right: 4rem;

									&_item{
										&_fb{
										}
										&_g{
										}
									}
								}
								&__link{

								}
							}
						}
					}
				}

			}
		}
	}
}


/*.pop-up{
	&_name_recovery{
		@include scut-fixed();
		.header{
			@include scut-absolute(4.6rem n n 5.1rem);
			font-size: 14px;
			color: #000;
		}

		.pop-up__block{
			@include scut-size(100vw 100vh);
			display: flex;
			flex-direction:column;
			justify-content: center;
			align-items: center;
		}

		.form{
			width: 20.5rem;
			//margin: auto;
			text-align: right;
			&__fieldset{
				text-align: left;
			}
			&__field-label-place{

			}
			&__field-label{

			}
			&__field-input-place{
				position: relative;
			}
			&__field-input{
				width: 100%;
			}

		}
	}
}*/




