footer{
	@include scut-size(100% 29rem);
	background-color: #000;
	padding: 5.4rem 5.1rem 0 5.1rem;
	position: relative;
	z-index: 1;
	@at-root {
		.nav_block_footer{
			@at-root {
				.logo_block_footer{
					display: inline-block;
					.logo{
						&__link{

						}
						&__img{
							@include scut-size(11.5rem 8.3rem);
							fill:#fff;
						}
					}
				}

				.nav-menu_block_footer{
					display: inline-block;
					margin-left: 5.1rem;
					margin-top: -0.2rem;
					vertical-align: top;
					.nav-menu{
						&__item{
							margin-bottom: 1.0rem;
							&.active{
								font-weight: bold;
								pointer-events: none;
							}
						}
						&__link{
							font-size: 1.4rem;
							color:#fff;
							text-decoration: none;
							transition: color 300ms;
							&:hover{
								color: #9c9c9c;
								transition: color 300ms;
							}
						}
					}
				}
			}
		}

		.social-list{
			&_location{
				&_header{
					@include scut-absolute(0 5.1rem 0 n);
					margin: auto;
					height: 1.5rem;
				}
				&_footer{
					@include scut-absolute(5.4rem 5.1rem n n);
				}
			}
			&__item{
				display: inline-block;
				position: relative;
				height: 1.5rem;
				margin-right: 2.5rem;
				&:last-child{
					margin-right: 0;
				}
				.icon{
					@include scut-size(100%);
					svg{
						@include scut-size(100%);
						fill:#fff;
					}
				}
				&:hover{
					svg{
						fill:#9c9c9c;
					}
				}

				&.vk{
					width: 12px;
					.icon{

					}
				}
				&.tw{
					width: 16px;
					.icon{

					}
				}
				&.fb{
					width: 8px;
					.icon{
						height: 19px;
						top: -2px;
					}
				}
				&.inst{
					width: 14px;
					.icon{

					}
				}
			}
			&__link{
				display: block;
				@include scut-size(100%);
				position: relative;
				z-index: 1;
			}
		}
	}

}