header{
	@include scut-size(100% 16rem);
	position: relative;
	@at-root {
		.logo_block_header{
			@include scut-absolute(0 n 0 5.1rem);
			@include scut-size(115px 83px);
			margin: auto;
			.logo{
				&__link{

				}
				&__img{
					@include scut-size(11.5rem 8.3rem);
					fill:#000;
				}
			}
		}

		.nav_block_header{
			@include scut-absolute(9.6rem 5.1rem n n);
			@at-root {
				.nav_block_header{
					.nav-menu{
						@include scut-list-inline(5.1rem, false);
						margin-right: 5.1rem;
						display: inline-block;
						&__item{
							&.active{
								font-weight: bold;
								pointer-events: none;
							}
						}
						&__link{
							font-size: 1.4rem;
							color:#000;
							text-decoration: none;
							transition: color 300ms;
							&:hover{
								color: #9c9c9c;
								transition: color 300ms;
							}
						}
					}
				}

				.enter{
					display: inline-block;
					font-size: 1.4rem;
					color:#000;

					//@include scut-size(7.7rem 4.2rem);
					padding: 12px 21px;
					border: 1px solid #000;
					border-radius: 3px;

					&:hover{
						color: #fff;
						background-color: #9c9c9c;
						border-color: #9c9c9c;
					}

					&.loadJQ{
						background-color: #000;
					}
				}
			}
		}
	}
}