.top-block{
	@include scut-size(100% 4.2rem);
	position: relative;
	background-color: #000;
	display: flex;
	align-items: center;
	padding: 0 8rem;
	&__tel{
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
		position: relative;
		&:before{
			content: "";
			background: url("../images/svg/icons/tel.svg") no-repeat center/contain;
			@include scut-size(1.5rem 1.5rem);
			@include scut-absolute(0 n n -2.8rem);
		}
	}
}