.vm-video{
	position: relative;
	height: 0;
	padding-top: 34.4%;
	overflow: hidden;
	&__video{
		@include scut-size(100% 200%);
		@include scut-absolute(-50% 0 n n);
		z-index: -1;
		background-color: #000;
	}
	&__content{
		@include scut-size(100%);
		@include scut-absolute(0 0 0 0);
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		&:hover{
			.vm-video{
				&__text{
					display: block;
				}
				&__img{
					display: none;
				}
			}
		}
	}
	&__img{
		@include scut-size(auto 50%);
	}
	&__text{
		display: none;
		font-size: 1.9rem;
		color: #fff;
	}
}
