@font-face {
  font-family: "helveticaneuecyr";
  src: url(/fonts/helveticaneuecyr-light-webfont.ttf) format('ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "helveticaneuecyr";
  src: url(/fonts/helveticaneuecyr-roman-webfont.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "helveticaneuecyr";
  src: url(/fonts/helveticaneuecyr-bold-webfont.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
}
