@font-face {
  font-family: "helveticaneuecyr";
  src: url(/fonts/helveticaneuecyr-light-webfont.eot?) format('eot');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "helveticaneuecyr";
  src: url(/fonts/helveticaneuecyr-roman-webfont.eot?) format('eot');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "helveticaneuecyr";
  src: url(/fonts/helveticaneuecyr-bold-webfont.eot?) format('eot');
  font-weight: 700;
  font-style: normal;
}
