div(block="pop-up",mod="name:auth")
	input#auth-popup(elem="trigger",type="checkbox")
	div(elem="contaner")
		div(elem="block")
			label(elem="label",mod="role:close",for="auth-popup") закрыть
				i(block="icon",mod="shape:close")

			input.form-trigger#auth(type="radio",name="form-trigger",checked=true)
			input.form-trigger#reg(type="radio",name="form-trigger")
			input.form-trigger#recovery(type="radio",name="form-trigger")

			ul(block="auth-nav")
				li(elem="item")
					label(elem="label",for="auth") Вход
				li(elem="item")
					label(elem="label",for="reg") Регистрация

			div(block="invalid-mess",mod="name:reg") Форма заполнена не верно

			form(block="form",mod="name:reg",name="reg",data-method="POST",action="/api/registration/",novalidate=true, autocomplete = "off")
				fieldset(elem="fieldset")
					dl(elem="field-place")
						dt(elem="field-label-place")
							label(elem="field-label") email
						dd(elem="field-input-place")
							input(elem="field-input",mod="name:email",type="email",name="email",maxlength="50",required=true)
					dl(elem="field-place")
						dt(elem="field-label-place")
							label(elem="field-label") имя
						dd(elem="field-input-place")
							input(elem="field-input",mod="name:name",type="email",name="name",maxlength="50",required=true)
					dl(elem="field-place")
						dt(elem="field-label-place")
							label(elem="field-label") телефон
						dd(elem="field-input-place")
							input(elem="field-input",mod="name:tel",type="tel",name="tel",maxlength="50",required=true)
					dl(elem="field-place")
						dt(elem="field-label-place")
							label(elem="field-label") пароль
						dd(elem="field-input-place")
							input(elem="field-input",mod="name:pass",type="password",name="pass",maxlength="50",required=true)
				button(elem="btn",mod="role:send",type="submit") Регистрация

			div(block="invalid-mess",mod="name:auth") Форма заполнена не верно

			form(block="form",mod="name:auth",name="auth",data-method="POST",action="/api/login/",novalidate=true, autocomplete = "off")
				fieldset(elem="fieldset")
					dl(elem="field-place")
						dt(elem="field-label-place")
							label(elem="field-label") email
						dd(elem="field-input-place")
							input(elem="field-input",mod="name:email",type="email",name="email",maxlength="50",required=true)
					dl(elem="field-place")
						dt(elem="field-label-place")
							label(elem="field-label") пароль
						dd(elem="field-input-place")
							input(elem="field-input",mod="name:pass",type="password",name="pass",maxlength="50",required=true)

							label.restore-pass(for="recovery") восстановить пароль
				button(elem="btn",mod="role:send",type="submit") Вход

			div(block="invalid-mess",mod="name:recovery") Форма заполнена не верно

			form(block="form",mod="name:recovery",name="recovery",data-method="PUT",action="/api/send-new-password/",novalidate=true, autocomplete = "off")
				fieldset(elem="fieldset")
					dl(elem="field-place")
						dt(elem="field-label-place")
							label(elem="field-label") email
						dd(elem="field-input-place")
							input(elem="field-input",mod="name:email",type="email",name="email",maxlength="50",required=true)
				button(elem="btn",mod="role:send",type="submit") Восстановить пароль

			dl(block="social",mod="type:reg")
				dt(elem="text") регистрация с помощью
				dd(elem="items")
					ul(block="soc-list")
						li(elem="items",mod="item:fb")
							a(elem="link",href="#")
								i.icon: svg: use(xlink:href='#fb')
						li(elem="items",mod="item:g")
							a(elem="link",href="#")
								i.icon: svg: use(xlink:href='#gp')

			dl(block="social",mod="type:auth")
				dt(elem="text") войти с помощью
				dd(elem="items")
					ul(block="soc-list")
						li(elem="items",mod="item:fb")
							a(elem="link",href="#")
								i.icon: svg: use(xlink:href='#fb')
						li(elem="items",mod="item:g")
							a(elem="link",href="#")
								i.icon: svg: use(xlink:href='#gp')


