footer
	nav(block="nav",mod="block:footer")
		div(block="logo",mod="block:footer")
			a(elem="link",href="/")
				svg(elem="img"): use(xlink:href='#logo')

		ul(block="nav-menu",mod="block:footer")
			each item in locals.nav
				li(elem="item",class=(item.active)?"active":"")
					if item.active
						span(elem="link")=item.title
					else
						a(elem="link",href="/"+item.href+".html")=item.title



		ul(block="social-list",mod="location:footer")
			each item in locals.share
				li(elem="item",class=item.abbr)
					a(elem="link",href="#")=item.title
						i.icon: svg: use(xlink:href='#'+item.abbr)
